---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="py-10">
	<h1 class="text-secondary text-5xl text-center">
		coming soon
	</h1>
	<br/>
	<h3 class="text-secondary text-xl text-center">
		flash (placeholder logo)
	</h3>
</div>