---
import Button from "./button.astro"
---

<div>
	<div data-aos="fade-up" data-aos-duration="3000">
		<h1 class="text-4xl text-center py-10">
			this is <b>flash</b>
		</h1>
	</div>

	<Button variant="default" size="xs">xs button</Button>
	<Button variant="default" size="sm">sm button</Button>
	<Button variant="default" size="base">base button</Button>
	<Button variant="default" size="md">md button</Button>
	<Button variant="default" size="lg">lg button</Button>
	<Button variant="default" size="xl">xl button</Button>


</div>